div{
    background-color: whitesmoke;
    text-align: center;
    border: 2px solid;
    margin-left: 25%;
    margin-right: 25%;
    border-left: 20px solid;
    border-right: 20px solid;
    border-radius: 20px;
    border-bottom: 0px;
}
ul{
    list-style: none;
    padding:20px;
}
ul li{
    padding: 5px;
    border: 2px solid;
    margin: 20px;
    border-radius: 5px;
    font-size: 50px;
}
h1{
    font-size: 100px;
}
a{
    text-decoration: none;
    color: black;
}
li:hover{
    background-color: rgb(96, 96, 96);
}
div:hover{
    background-color: rgb(240, 244, 190);
}